<div *ngIf="!editing" style="font-size:large;">
    {{i+1}}. {{item.description}}
</div>
<div *ngIf="!editing">
        <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button (click)="editTask(item,i)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="completetask(i)"><mat-icon>check_circle_outline</mat-icon></button>
</div>
<div *ngIf="editing" style="width: 100%;">
        <form [formGroup]="editform">
            <mat-form-field appearance="fill" style="width: 100%;">
                <input formControlName="item" matInput placeholder="Enter Your Task">
            </mat-form-field>
                <div class="d-flex justify-content-around py-3">
                    <button mat-fab (click)="updatetask()" [disabled]="editform.invalid" color="accent"><mat-icon>save</mat-icon></button>
                    <button mat-fab (click)="cancel()" color="warn"><mat-icon>cancel</mat-icon></button>
                </div>
        </form>
</div>